{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="large-12 columns panel">
        <h1 class="center">Collateral Consequences</h1>
        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>

        <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>

        <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
    </div>
</div>
<div class="row">
    <div class="large-12 panel columns center">
        <a href="{% url 'crime_search' %}" class="button white">
            <h2>Get Started</h2>
        </a>
    </div>
</div> 
<div class="row">
    <div class="large-12 panel columns"> 
        <h3 class="center">Offense Consequences by Count</h3>
        <div class="large-4 columns">
            <ul>
                <li>{{ data.corruption.title }}: {{ data.corruption.count }}</li>
                <li>{{ data.misdem.title }}: {{ data.misdem.count }}</li>
                <li>{{ data.moral.title }}: {{ data.moral.count }}</li>
                <li>{{ data.child_supp.title }}: {{ data.child_supp.count }}</li>
                <li>{{ data.driving.title }}: {{ data.driving.count }}</li>
            </ul>
        </div>
        <div class="large-4 columns">
            <ul>
                <li>{{ data.drugs.title }}: {{ data.drugs.count }}</li>
                <li>{{ data.sex.title }}: {{ data.sex.count }}</li>
                <li>Crimes of Violence: {{ data.violence.count }}</li>
                <li>{{ data.rec_license.title }}: {{ data.rec_license.count }}</li>
            </ul>
        </div>
        <div class="large-4 columns">
            <ul>
                <li>Fraud: {{ data.fraud.count }}</li>
                <li>Any offense: {{ data.any.count }}</li>
                <li>{{ data.felony.title }}: {{ data.felony.count }}</li>
                <li>{{ data.weapons.title }}: {{ data.weapons.count }}</li>
            </ul>
        </div>
    </div>
</div> 
{% endblock %}
